@page "/"
<link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
